mcp
fastapi
uvicorn
openai
pydantic
requests
aiohttp
chainlit
langchain
langchain-core
langchain-openai
langgraph
langgraph-supervisor
google-api-python-client
python-dotenv
yfinance
plotly
websockets==14.1
numpy